<!DOCTYPE html>
<html lang = "en" dir = "ltr">

<%- include("partials/head") -%>

<body>
    <%- include("partials/navbar") -%>
    <br>
    <div class = "container">

        <h1>Post</h1>
        <form action = "/post" method = "post">
            <div class = "form-group">
                <h3>Question</h3>
                <input name = "question" class = "form-control">
            </div>
            <div class = "form-group">
                <h3>Name (leave blank for Anonymous)</h3>
                <input type = "text" name = "author" class = "form-control" autocomplete = "off">
            </div>
            <button class = "btn btn-primary" type = "submit">Submit</button>
        </form>

    </div>
</body>

</html>