<!DOCTYPE html>
<html lang = "en" dir = "ltr">

<%- include("partials/head") -%>

<body>
    <%- include("partials/navbar") -%>
    <br>
    <div class = "container">

        <h2>Write something on the wall</h1><br>
        <form action = "/write" method = "post">
            <div class = "form-group">
                <h3>Content</h3>
                <input name = "content" class = "form-control">
            </div><br>
            <div class = "form-group">
                <h3>Name (leave blank for Anonymous)</h3>
                <input type = "text" name = "author" class = "form-control" autocomplete = "off">
            </div>
            <br>
            <button class = "btn btn-primary btn-dark" type = "submit">Submit</button>
        </form>

    </div>
</body>

</html>